<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  <strong>User full name:</strong>
  <%= @name %>
</p>
<p>
  <strong>Company name:</strong>
  <%= @company %>
</p>
<p>
  <strong>E-mail:</strong>
  <%= @email %>
</p>
<p>
  <strong>Package Type:</strong>
  <%= @package %>
</p>
</body>
</html>